<%= form_tag :url => url_for(:controller => 'admins', :action => 'update_password') do %>

<div class="div_main">
  <div class="control-group">
      <%= label_tag "Old password" %>
      <div class="controls">
          <%= password_field_tag :old_password, params[:old_password] %>
      </div>
  </div>

  <div class="control-group">
      <%= label_tag "New password" %>
      <div class="controls">
          <%= password_field_tag :password %>
      </div>
  </div>

  <div class="control-group">
      <%= label_tag :password_confirmation %>
      <div class="controls">
          <%= password_field_tag :password_confirmation %>
     </div>
  </div>
  <%= submit_tag "Update password", class: "btn btn-info" %>
</div>
<% end %>
