<%= form_for @admin, class: "form-horizontal" do |f| %>

  <% if @admin.errors.any? %>
     <div>
        <h2>Form is invalid</h2>
        <ul>
            <% @admin.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
  <% end %>


<div class="div_main">


  <div class="control-group">
      <%= f.label :first_name, class: "control-label" %>
      <div class="controls">
          <%= f.text_field :first_name %>
      </div>
  </div>

  <div class="control-group">
      <%= f.label :last_name, class: "control-label" %>
      <div class="controls">
          <%= f.text_field :last_name %>
      </div>
  </div>

  <div class="control-group">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
          <%= f.text_field :email %>
      </div>
  </div>

  <% if get_role_for_current_user == 1 %>
    <div class="control-group">
        Super administrator <%= f.radio_button :role, 1, :checked =>get_role(@admin) == 1 %>
        <br><br>
        Administrator <%= f.radio_button :role, 2, :checked =>get_role(@admin) == 2 %>
    </div>
  <% end %>

  <%= f.submit "Edit", class: "btn btn-info" %>

</div>
<% end %>
