<table id="table-2" class="pretty">
  <tr>
    <th><%= sortable "First Name", "first_name" %>
    <th><%= sortable "Last Name", "last_name" %>
    <th><%= sortable "E-mail", "email" %>
    <th colspan=3>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td><%= u.first_name.to_s%> </td>
    <td><%= u.last_name.to_s %> </td>
    <td><%= u.email.to_s %> </td>
    <td><%= link_to "  Show  ", user_path(u.id) %></td>
    <td><%= link_to "  Edit  ", edit_user_path(u.id) %></td>
    <td><%= link_to "  Destroy  ", user_path(u.id), class: "delete_user", data: {confirm: 'Are you sure?'} %></td>

  </tr>
  <% end %>
</table>
<%= will_paginate @users %>
