<table>
  <tr>
    <th class="td_index">First Name
    <th class="td_index">Last Name
    <th class="td_index">E-mail
    <th>
    <th>
    <th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td class="td_index"><%= u.first_name.to_s%> </td>
    <td class="td_index"><%= u.last_name.to_s %> </td>
    <td class="td_index"><%= u.email.to_s %> </td>
    <td><%= link_to "|  Show  |", user_path(u.id) %></td>
    <td><%= link_to "  Edit  |", edit_user_path(u.id) %></td>
    <td><%= link_to "  Destroy  |", user_path(u.id), class: "delete_user", data: {confirm: 'Are you sure?'} %></td>

  </tr>
  <% end %>
</table>
