  <table id="table-admins" class="pretty_admins">
  <tr>
    <th><%= sortable_admins "First Name", "first_name" %>
    <th><%= sortable_admins "Last Name", "last_name" %>
    <th><%= sortable_admins "E-mail", "email" %>
    <th colspan=3>
  </tr>
    <% @admins.each do |a| %>
    <tr>
      <td><%= a.first_name.to_s %> </td>
      <td><%= a.last_name.to_s %> </td>
      <td><%= a.email.to_s %> </td>
      <td><%= link_to "  Show  ", admin_path(a.id) %></td>
      <td><%= link_to "  Edit  ", edit_admin_path(a.id) %></td>
      <td><%= link_to "  Destroy  ", admin_path(a.id), remote: true, data: {confirm: 'Are you sure?'}, :method => :delete %></td>
    </tr>
    <% end %>
  </table>
