<h3>Edit User</h3>

<div id="user_form">
  <%= render :partial => 'form_edit_user' %>
</div>

<br>
<div class="reset_password">
    <%= link_to "Reset password", remote: true %>
</div>

<div id="password_form">
  <%= render :partial => 'form_edit_password' %>
</div>
<br>
<% if get_role_for_current_user == 1 || get_role_for_current_user == 2 %>
  <%= link_to "Back", admins_path %>
<% else %>
    <%= link_to "Back", user_path(@user.id) %>
<% end %>

