<!DOCTYPE html>
<html>
<head>
  <title>GreenSky1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<% controller.controller_name %>'>

<div>

  <% if current_user %>

    <% if is_admin %>
      Current administrator  is <%= current_user.email %>
    <% else %>
      Current user is <%= current_user.email %>
    <% end %>

    <table>
      <tr>
        <td width="70px" align="left">
          <% if is_admin %>
            <%= link_to "Edit", edit_admin_path(current_user.id) %>
          <% else %>
            <%= link_to "Edit", edit_user_path(current_user.id) %>
          <% end %>
        </td>
        <td width="50px" align="left"> <%= link_to "Log out", log_out_path %>
        </td>
      </tr>
    </table>

    </br>

  <% else %>

    <table>
      <tr>
        <td width="100px" align="left"> <%= link_to "Log in", log_in_path %>
        <td width="70px" align="center"> <%= link_to "Sing up", sign_up_path %>
      </tr>
    </table>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
